@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@1&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /*  */
  --base_font: "roboto", "Poppins", sans-serif;
}
:root {
  /* --blue: #000; */
  --blue: #0a192f;
  --lightslategray: #8892b0;
  --lavender: #ccd6f6;
  --aquamarine: #62fbd6;
  --slategray: #717c98;
  --smallfonts: "Redressed";
  --base_font: "roboto", "Poppins", sans-serif;
}

.brand {
  display: flex;
  align-items: center;
}
.brand_logo {
  width: 30px;
  height: 30px;
  background-image: url(../images/Manikandan.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.brand_name {
  font-size: 14px;
}
.home {
  width: 80%;
  padding: 6rem 0 0 9rem;
}

.home h3 {
  color: var(--aquamarine);
  font-family: var(--smallfonts);
  font-size: 1.5rem;
  font-weight: lighter;
  word-spacing: 10px;
  letter-spacing: 3px;
  margin: 1rem 0;
}
.home .myName {
  color: var(--lavender);
}
.home .myJob {
  color: var(--lightslategray);
}
.home .myName,
.home .myJob {
  font-size: 6vw;

  word-spacing: 10px;
  font-weight: bold;
  margin: 1rem 0;
  /* text-shadow: 5px 2px 5px grey; */
}
.home p {
  margin: 1rem 0;
  color: var(--slategray);
  font-size: 1.2rem;
  text-align: justify;
}

.yearbtn {
  font-size: 10px;
}
.degree {
  font-weight: bold;
  color: var(--blue);
}
.college {
  color: var(--slategray);
  font-size: 12px;
}
.percentage {
  font-size: 12px;
}
.edutitle {
}
.skill {
  height: 100px;
}
.contactimg {
  /* width: 150px;
  height: 150px;
  background-image: url(../images/Mani.png);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-color: #bdbdbd; */
  width: 150px;
  height: 150px;
  background-color: #dde2eb;
  background-image: url(../images/Mani.png);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 20px 15px;
  background-size: contain;
}
.contactdetail {
  display: flex;
}
.contactdetail p {
  padding: 0;
  margin: 5px 0 0;
}
.contactdetail a {
  color: var(--lightslategray);
}
.contactdetail p:first-child {
  font-weight: bold;
  color: var(--blue);
  width: 150px;
}
.contactdetail p:nth-child(2) {
  color: var(--lightslategray);
}
.socialmedia a {
  text-decoration: none;
}
.socialmedia i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--lavender);
  text-align: center;
  line-height: 40px;
}
.Name {
}
@media (max-width: 576px) {
  .home {
    padding: 5rem 2rem;
  }
  .contactimg {
    width: 100px !important;
    height: 100px !important;
  }
  .contactdetail p:first-child {
    font-weight: bold;
    color: var(--blue);
    font-size: 3vw;
    width: 25% !important;
  }
  .contactdetail p:nth-child(2) {
    color: var(--lightslategray);
    font-size: 3vw;
  }
}
